
@{
    ViewData["Title"] = "Empty Wishlist";
}


<h2 class="text-center">Your Wishlist Is Empty</h2>
<p class="text-center">Nothing here yet, add some wishes to get started.</p>
<div class="imag" style="width: 200px; border-radius: 13px; margin: 0 auto;">
	<img src="~/images/emptywishlist.jpg" alt="" class="img-fluid"  >
</div>