@{
    ViewData["Title"] = "Not Found";
}

<div class="cont">
    <div class="overlay"></div>
    <div class="content">
        <h1>404</h1>
        <p id="line1"></p>
        <p id="line2"></p>
        <p id="line3"></p>
        <a style="text-decoration: none" class="button" asp-action="Index" asp-controller="Home">BACK TO HOME PAGE</a>
    </div>
</div>
