@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Registration</h1>
    </div>
</section>

<button class="breadcrumb">
    <a asp-action="Index" asp-controller="Home">HOME</a> > Registration
</button>

<section class="signup-section">
    <div class="signup-container">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">
            <h2 class="section-header blue-header">Registration</h2>
            <p class="section-description">
                If you don't have an account with us, please register.
            </p>

            <div class="form-group">
                <label asp-for="FirstName">FirstName <span class="text-danger">*</span></label>
                <input class="input-field" placeholder="Your FirstName" asp-for="FirstName">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">LastName <span class="text-danger">*</span></label>
                <input class="input-field" placeholder="Your LastName" asp-for="LastName">
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserName">Username <span class="text-danger">*</span></label>
                <input class="input-field" placeholder="Your UserName" asp-for="UserName">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Picture">Picture</label>
                <input asp-for="Picture" class="input-field">
            </div>

            <div class="form-group">
                <label asp-for="Email">Email address <span class="text-danger">*</span></label>
                <input asp-for="Email" class="input-field" placeholder="Your Email address">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password <span class="text-danger">*</span></label>
                <input asp-for="Password" class="input-field" placeholder="Type Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <p class="section-description">
                Your personal data will be used to support your experience throughout this
                website, to manage access to your account, and for other purposes described
                in our <a href="#" class="privacy-policy">privacy policy.</a>
            </p>

            <button type="submit" class="orange-button signup-btn">REGISTER</button>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
