@{
	ViewData["Title"] = "About Us";
}

<!--banner-->
<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(/images/background/bg3.jpg);">
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>About us</h1>
			<nav aria-label="breadcrumb" class="breadcrumb-row">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> Home</a></li>
					<li class="breadcrumb-item">About us</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<!--Our Mission Section-->
<section class="content-inner overlay-white-middle">
	<div class="container">
		<div class="row about-style1 align-items-center">
			<div class="col-lg-6 m-b30">
				<div class="row sp10 about-thumb">
					<div class="col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
						<div class="split-box">
							<div>
								<img class="m-b30" src="/images/about/about1.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="split-box ">
							<div>
								<img class="m-b20 aos-item" src="/images/about/about2.jpg" alt="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
							</div>
						</div>
						<div class="exp-bx aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
							<div class="exp-head">
								<div class="counter-num">
									<h2><span class="counter">50</span><small>+</small></h2>
								</div>
								<h6 class="title">Years of Experience</h6>
							</div>
							<div class="exp-info">
								<ul class="list-check primary">
									<li>Comics & Graphics</li>
									<li>Biography</li>
									<li>Literary Collections</li>
									<li>Children Fiction</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
				<div class="about-content px-lg-4">
					<div class="section-head style-1">
						<h2 class="title">Bookland Is Best Choice For Learners</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration which don’t look even slightly believable. It Is A Long Established Fact That A Reader Will Be Distracted</p>
					</div>
					<a asp-action="ContactUs" asp-controller="Home" class="btn btn-primary btnhover shadow-primary">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="content-inner-1 bg-light">
	<div class="container">
		<div class="section-head text-center">
			<h2 class="title">Our Mission</h2>
			<p>At Bookify, our mission is to enrich the reading experience and foster a love for literature by providing a seamless platform for exploring, borrowing, and purchasing books. We are dedicated to offering a wide range of literary works, empowering readers with easy access to knowledge while supporting authors and publishers globally.</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="icon-bx-wraper style-3 m-b30">
					<div class="icon-lg m-b20">
						<i class="flaticon-open-book-1 icon-cell"></i>
					</div>
					<div class="icon-content">
						<h4 class="title">Comprehensive Book Library</h4>
						<p>Bookify offers a vast collection of books across all genres, providing readers with the opportunity to discover new stories, gain knowledge, and immerse themselves in diverse literary worlds.</p>
						<a asp-action="AboutUs">Learn More <i class="fa-solid fa-angles-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="icon-bx-wraper style-3 m-b30">
					<div class="icon-lg m-b20">
						<i class="flaticon-exclusive icon-cell"></i>
					</div>
					<div class="icon-content">
						<h4 class="title">Trusted by Readers and Libraries</h4>
						<p>With a commitment to quality and user satisfaction, Bookify has become a trusted platform for readers and libraries alike, ensuring a reliable and enjoyable experience for all.</p>
						<a asp-action="AboutUs">Learn More <i class="fa-solid fa-angles-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
				<div class="icon-bx-wraper style-3 m-b30">
					<div class="icon-lg m-b20">
						<i class="flaticon-store icon-cell"></i>
					</div>
					<div class="icon-content">
						<h4 class="title">Innovative Library Management</h4>
						<p>Through our cutting-edge library management system, we empower institutions to efficiently manage book inventories, track lending activities, and streamline operations for a better user experience.</p>
						<a asp-action="AboutUs">Learn More <i class="fa-solid fa-angles-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Newsletter -->
<section class="py-5 newsletter-wrapper" style="background-image: url('images/background/bg1.jpg'); background-size: cover;">
	<div class="container">
		<div class="subscride-inner">
			<div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
				<div class="col-xl-7 col-lg-12">
					<div class="section-head mb-0">
						<h2 class="title text-white my-lg-3 mt-0">Subscribe our newsletter for newest books updates</h2>
					</div>
				</div>
				<div class="col-xl-5 col-lg-6">
					<form class="dzSubscribe style-1" action="script/mailchamp.php" method="post">
						<div class="dzSubscribeMsg"></div>
						<div class="form-group">
							<div class="input-group mb-0">
								<input name="dzEmail" required="required" type="email" class="form-control bg-transparent text-white" placeholder="Your Email Address">
								<div class="input-group-addon">
									<button name="submit" value="Submit" type="submit" class="btn btn-primary btnhover">
										<span>SUBSCRIBE</span>
										<i class="fa-solid fa-paper-plane"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Newsletter End -->
